system/binary/
system/binary*.iso
system/binary*.img
system/binary*.tar*
system/binary*.contents
system/binary*.packages
system/binary*.zsync

system/.build/
system/build.log

system/cache/

system/chroot/
system/chroot.packages.*

system/config/binary
system/config/bootstrap
system/config/chroot
system/config/common
system/config/source
system/config/control
system/config/includes.chroot/opt/

system/source/
system/source*.iso
system/source*.img
system/source*.tar*
system/source*.contents
system/source*.packages
system/source*.zsync

browser/node_modules
browser/release-builds
